# ==========================================
# SenacOS - Padrão Global de .gitignore
# ==========================================

# 1. Sistema Operacional e IDEs
.DS_Store
Thumbs.db
desktop.ini
.vscode/
!.vscode/extensions.json
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 2. Node.js / Frontend (Angular, React, Vue)
node_modules/
dist/
.angular/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 3. Java (Spring, Maven, Gradle)
target/
*.class
*.jar
*.war
*.ear
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

# 4. Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# 5. Variáveis de Ambiente e Segredos (comum a todas as stacks)
.env
.env.*
!.env.example
*.pem
*.key

# 6. Banco de Dados Locais
*.sqlite
*.sqlite3
*.db

# 7. Logs e Temporários
*.log
logs/
tmp/
*.tmp
coverage/